@model Bangazon.Models.ProductTypeViewModels.ProductTypeDetailViewModel

@{
    ViewData["Title"] = "Product Types";
}

<h2>Product Types</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.ProductType.Label)
    </h4>
   

    <hr />
    <dl class="dl-horizontal">


        <dd>
            @Html.DisplayNameFor(model => model.ProductType.Label)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ProductType.Label)
        </dd>
    
</dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Quantity)
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.ProductType.Products)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
