@model Bangazon.Models.ProductTypeViewModels.ProductTypeDetailViewModel

@{
    ViewData["Title"] = "Product Types";
}

<h2>Product Types</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.ProductType.Label)
    </h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.ProductType.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductType.Label)
        </dd>

    </dl>
    <table class="table">
        
        <tbody>
            @foreach (var item in Model.ProductType.Products)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType.Label)
                    </td>
                    @*<td>
                            <a asp-action="Edit" asp-route-id="@item.ProductType.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
