@model Bangazon.Models.ProductTypeViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Product Types";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupedProducts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupedProducts)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TypeId">@item.TypeName</a>
                   (@Html.DisplayFor(modelItem => item.ProductCount))
                   
                        

                </td>
            </tr>
        @foreach (var itemtwo in item.Products)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => itemtwo.Title)

                </td>
            </tr>

        

        }

        }
        @*<a asp-action="Edit" asp-route-id="@item.ProductTypeId">Edit</a> |
        <a asp-action="Delete" asp-route-id="@item.ProductTypeId">Delete</a>*@
    </tbody>
</table>
